<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blocipedia</title>
  
</head>
<body>
  <div class="container">
    <div class="row">
  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>From Twitter bootstrap</h1>
        <li><%= link_to "Welcome", root_path %></li>
     <ul class="hmenu">
        <li><%= link_to "Wikis" %></li>
        <li><%= link_to "Free Plan" %></li>
        <li><%= link_to "Premium Plan" %></li>
   </ul>

<%= yield %>
</div>
</div>


</body>
</html>
